@import 'tailwindcss';

@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    ascent-override: 90%;
    descent-override: 20%;
    line-gap-override: 0%;
    size-adjust: 105%;
}

@font-face {
    font-family: "Abc";
    src: url("/fonts/abc.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    ascent-override: 90%;
    descent-override: 20%;
    line-gap-override: 0%;
    size-adjust: 105%;
}

@font-face {
    font-family: "funnel display";
    src: url("/fonts/FunnelDisplay-Bold.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    ascent-override: 90%;
    descent-override: 20%;
    line-gap-override: 0%;
    size-adjust: 105%;
}

:root {
    --shadow-brutal: "0 5px 0 #000";
}

@theme inline {
    --font-space: "Space Grotesk", sans-serif;
    --font-funnel: "funnel display", sans-serif;
    --color-primary: #FAFAFA;
    --color-offblack: #323232;
    --color-offwhite: #FFFDF8;
    --color-electicblue: #0057FF;
    --color-offblue: #73D4FF;
    --color-sunyellow: #FFD233;
    --color-offcoral: #FF5A5F;
    --color-coral: #D80D0D
}

@layer components {
    .hero-card {
        @apply bg-primary relative max-sm:mt-12 lg:max-w-5/6 p-8 lg:p-12 flex flex-wrap md:flex-nowrap justify-between items-center border-6 border-offblack rounded-xl shadow-[8px_8px_0_var(--color-offblack)];
    }

    .my-name {
        @apply leading-none md:pt-4 text-5xl md:text-7xl xl:text-8xl;
    }

    .hero-social-links {
        @apply bg-offblack p-2.5 hover:bg-offblue transition ease-in-out duration-300 size-12 lg:size-14 grid place-items-center cursor-pointer border-3 border-offblack rounded-md shadow-[4px_4px_0_#2c2c2c] hover:shadow-none hover:translate-0.5;
    }

    .job-btn {
        @apply bg-offcoral font-space py-3 px-5 border-3 border-offblack rounded-lg lg:text-xl font-medium tracking-tight my-5 md:mb-10;
    }
}

:root {
    --pattern-fg: color-mix(in oklab, #000 10%, transparent);

}

@custom-variant dark (&:where(.dark, .dark *));


html {
    font-size: 16px;
    scroll-behavior: smooth;
    transition: all 0.2s ease;
}

body {
    line-height: 1.5;
    font-family: "Abc", sans-serif;
    background-color: var(--color-primary);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

h1 {
    /* font-size: clamp(8rem, 4vw, 12rem); */
    font-family: var(--font-funnel);
}

h2 {
    font-family: var(--font-space);
}

img {
    user-select: none;
}

button,
a {
    font-family: var(--font-space);
}

p {
    letter-spacing: -0.025em;
}

section {
    padding-block: 80px;
}

.container-base {
    max-width: 1380px;
    margin-inline: auto;
    padding-inline: 50px;
}

.text-stroke {
    -webkit-text-stroke: 1px black;
}

html.dark {
    background-color: #08090a;
    color: #f9fafb;
}

html.dark .text-stroke {
    -webkit-text-stroke: 1px white;
}

@media (min-width: 1024px) {
    section {
        padding-block: 120px;
    }
}

.stroke-text {
    display: block;
    -webkit-text-stroke: 2px #000;
    color: white;
    font-family: var(--font-space);
}

.full-page-navigation {
    max-height: 0;
    overflow: hidden;
}

@media (max-width: 767px) {
    .container-base {
        padding-inline: 25px;
    }
}